name: Renovate

on:
  schedule:
    - cron: "0,15,25,30,45 * * * *"
  workflow_dispatch:
    inputs:
      dryRun:
        description: Dry Run
        default: "false"
        required: false
      logLevel:
        description: Log Level
        default: info
        required: false
      printConfig:
        description: Log Config
        default: "false"
        required: false

jobs:
  renovate:
    if: github.repository == 'BigmaHWTeam/latex-template'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v41.0.7
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_DRY_RUN: ${{ github.event.inputs.dryRun || 'false' }}
          RENOVATE_PRINT_CONFIG: ${{ github.event.inputs.printConfig || 'false' }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
