name: Renovate

on:
  schedule:
    - cron: "0 0 * * MON"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v41.0.7
        with:
          configurationFile: renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
